@-webkit-keyframes moveInBottomMain {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-8rem) scale(0);
            transform: translateY(-8rem) scale(0);
  }
  80% {
    opacity: .6;
    -webkit-transform: translateY(0.5rem) scale(1.1);
            transform: translateY(0.5rem) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem) scale(1);
            transform: translateY(0rem) scale(1);
  }
}

@keyframes moveInBottomMain {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-8rem) scale(0);
            transform: translateY(-8rem) scale(0);
  }
  80% {
    opacity: .6;
    -webkit-transform: translateY(0.5rem) scale(1.1);
            transform: translateY(0.5rem) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem) scale(1);
            transform: translateY(0rem) scale(1);
  }
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6rem) scale(0);
            transform: translateY(6rem) scale(0);
  }
  80% {
    opacity: .6;
    -webkit-transform: translateY(-0.5rem) scale(1.1);
            transform: translateY(-0.5rem) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem) scale(1);
            transform: translateY(0rem) scale(1);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6rem) scale(0);
            transform: translateY(6rem) scale(0);
  }
  80% {
    opacity: .6;
    -webkit-transform: translateY(-0.5rem) scale(1.1);
            transform: translateY(-0.5rem) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem) scale(1);
            transform: translateY(0rem) scale(1);
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;
}

.u-margin-top-sm {
  margin-top: 2rem !important;
}

.u-margin-top-md {
  margin-top: 5rem !important;
}

.u-margin-top-lg {
  margin-top: 8rem !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #1D1E18;
}

.heading-primary {
  font-weight: 400;
  letter-spacing: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.heading-primary__main {
  font-size: 20rem;
  color: #E3E3E3;
  -webkit-animation: moveInBottomMain 1s ease-in-out;
          animation: moveInBottomMain 1s ease-in-out;
}

.heading-primary__sub {
  text-transform: uppercase;
  font-size: 4rem;
  color: #dbd9d9;
  -webkit-animation: moveInBottomMain 1s ease-in-out .2s;
          animation: moveInBottomMain 1s ease-in-out .2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.heading-secondary {
  font-size: 6rem;
  letter-spacing: .5rem;
  font-weight: 400;
  margin-top: 8rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#5c80bc), to(#08415c));
  background-image: linear-gradient(to right, #5c80bc, #08415c);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.heading-tertiary {
  font-weight: 900;
  font-size: 2rem;
  color: #1D1E18;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
  font-size: 1.6rem;
}

.button-main:link, .button-main:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 1.5rem 3.5rem;
  border-radius: 1rem;
  letter-spacing: .35rem;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.button-main__home {
  color: #dbd9d9;
  border: solid 2px #08415c;
  background-color: #08415c;
  -webkit-animation: moveInTop 1s ease-in-out .9s;
          animation: moveInTop 1s ease-in-out .9s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.button-main__home:hover {
  background-color: #dbd9d9;
  color: #08415c;
  border: solid 2px #dbd9d9;
  -webkit-transform: translateY(-0.2rem) translateX(-0.4rem);
          transform: translateY(-0.2rem) translateX(-0.4rem);
  -webkit-box-shadow: 0 4px 20px rgba(29, 30, 24, 0.6);
          box-shadow: 0 4px 20px rgba(29, 30, 24, 0.6);
}

.button-main__home:active {
  background-color: #dbd9d9;
  border: solid 2px #dbd9d9;
  -webkit-transform: translateY(-0.1rem) translateX(-0.2rem);
          transform: translateY(-0.1rem) translateX(-0.2rem);
  -webkit-box-shadow: 0 2px 10px rgba(29, 30, 24, 0.4);
          box-shadow: 0 2px 10px rgba(29, 30, 24, 0.4);
}

.button-main__cards {
  color: white;
  background-color: #5c80bc;
  border: solid 2px #5c80bc;
  margin-bottom: 8rem;
}

.button-main__cards:hover {
  background-color: white;
  color: #5c80bc;
  border: solid 2px white;
  -webkit-transform: translateY(-0.2rem) translateX(-0.4rem);
          transform: translateY(-0.2rem) translateX(-0.4rem);
  -webkit-box-shadow: 0 4px 20px rgba(29, 30, 24, 0.6);
          box-shadow: 0 4px 20px rgba(29, 30, 24, 0.6);
}

.button-main__cards:active {
  background-color: #dbd9d9;
  border: solid 2px #dbd9d9;
  -webkit-transform: translateY(-0.1rem) translateX(-0.2rem);
          transform: translateY(-0.1rem) translateX(-0.2rem);
  -webkit-box-shadow: 0 2px 10px rgba(29, 30, 24, 0.4);
          box-shadow: 0 2px 10px rgba(29, 30, 24, 0.4);
}

.button-main::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.button-main:hover .button-main::after {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
}

.button-sub:link, .button-sub:visited {
  cursor: pointer;
  text-decoration: none;
  border-bottom: solid 1px #08415c;
  display: inline-block;
  color: #08415c;
  border-radius: 2px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.button-sub__about {
  margin-top: 3rem;
  font-size: 1.6rem;
  padding: .2rem .4rem .2rem;
}

.button-sub__testimonial {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  padding: .5rem 1.2rem .4rem;
}

.button-sub:hover {
  background-color: #08415c;
  color: #EDF2EF;
  -webkit-transform: translateY(-0.2rem) translateX(-0.2rem);
          transform: translateY(-0.2rem) translateX(-0.2rem);
  -webkit-box-shadow: 0 0.2rem 1rem rgba(29, 30, 24, 0.6);
          box-shadow: 0 0.2rem 1rem rgba(29, 30, 24, 0.6);
}

.button-sub:active {
  background-color: #08415c;
  color: #EDF2EF;
  -webkit-transform: translateY(-0.1rem) translateX(-0.1rem);
          transform: translateY(-0.1rem) translateX(-0.1rem);
  -webkit-box-shadow: 0 0.1rem 0.6rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 0.1rem 0.6rem rgba(29, 30, 24, 0.4);
}

.button-card:link, .button-card:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 1.5rem 3.5rem;
  cursor: pointer;
  border-radius: 1rem;
  border: solid 2px #EDF2EF;
  color: #EDF2EF;
  -webkit-box-shadow: 0 2rem 4rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 2rem 4rem rgba(29, 30, 24, 0.4);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.button-card:hover {
  background-color: #EDF2EF;
  -webkit-box-shadow: 0 4rem 6rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 4rem 6rem rgba(29, 30, 24, 0.4);
}

.button-card__b1:hover {
  color: #08415c;
}

.button-card__b2:hover {
  color: #ff7730;
}

.button-card__b3:hover {
  color: #5643fa;
}

.composition {
  position: relative;
}

.composition__image {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  z-index: 1;
  border-radius: .2rem;
  -webkit-box-shadow: 0 0.5rem 4rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 0.5rem 4rem rgba(29, 30, 24, 0.4);
  position: absolute;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.composition__image--p1 {
  top: -2rem;
  left: 6rem;
}

.composition__image--p2 {
  top: 4rem;
  right: 4rem;
}

.composition__image--p3 {
  top: 10rem;
  left: 20rem;
}

.composition__image:hover {
  outline-offset: 1.5rem;
  outline: 1rem solid #08415c;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2rem 8rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 2rem 8rem rgba(29, 30, 24, 0.4);
  z-index: 2;
}

.composition:hover .composition__image:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 3px;
  height: 45rem;
  text-align: center;
  padding: 4rem .5rem;
  -webkit-box-shadow: 0 0.2rem 1rem rgba(29, 30, 24, 0.6);
          box-shadow: 0 0.2rem 1rem rgba(29, 30, 24, 0.6);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 80%;
  margin: 25% auto 25%;
}

.feature-box__icon {
  font-size: 8rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#5c80bc), to(#08415c));
  background-image: linear-gradient(to right, #5c80bc, #08415c);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box__text {
  margin-top: 2.2rem;
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: .06rem;
}

.feature-box:hover {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  background-color: #EDF2EF;
  -webkit-box-shadow: 0 1rem 3rem rgba(29, 30, 24, 0.8);
          box-shadow: 0 1rem 3rem rgba(29, 30, 24, 0.8);
}

.card {
  height: 55rem;
  -webkit-perspective: 200rem;
          perspective: 200rem;
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.card__side {
  height: 55rem;
  -webkit-transition: all .70s ease;
  transition: all .70s ease;
  width: 100%;
  position: absolute;
  border-radius: 4px;
  -webkit-box-shadow: 0 2rem 6rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 2rem 6rem rgba(29, 30, 24, 0.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#5c80bc), to(#08415c));
  background-image: linear-gradient(to right bottom, #5c80bc, #08415c);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__image {
  height: 45%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__image-p1 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#5c80bc), to(#08415c)), url(/img/card1.jpg);
  background-image: linear-gradient(to right top, #5c80bc, #08415c), url(/img/card1.jpg);
}

.card__image-p2 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ffb900), to(#ff7730)), url(/img/card2.jpg);
  background-image: linear-gradient(to right top, #ffb900, #ff7730), url(/img/card2.jpg);
}

.card__image-p3 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#2998ff), to(#5643fa)), url(/img/card3.jpg);
  background-image: linear-gradient(to right top, #2998ff, #5643fa), url(/img/card3.jpg);
}

.card__list {
  list-style-type: none;
  text-align: center;
  width: 70%;
  margin: 2rem auto;
}

.card__list--item {
  font-size: 1.6rem;
  padding: 1rem;
  color: #3D3B30;
  letter-spacing: .18rem;
}

.card__list--item:not(:last-child) {
  border-bottom: solid 1px #c2c2c2;
}

.card__header {
  font-size: 2.8rem;
  color: white;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 25%;
  right: 7%;
  width: 75%;
  line-height: 2.1;
}

.card__header-span {
  padding: 1.2rem 2rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__header-span--1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(92, 128, 188, 0.8)), to(rgba(8, 65, 92, 0.8)));
  background-image: linear-gradient(to right, rgba(92, 128, 188, 0.8), rgba(8, 65, 92, 0.8));
}

.card__header-span--2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 119, 48, 0.8)));
  background-image: linear-gradient(to right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}

.card__header-span--3 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(41, 152, 255, 0.8)), to(rgba(86, 67, 250, 0.8)));
  background-image: linear-gradient(to right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #EDF2EF;
}

.card__cta--only {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.card__cta--price {
  font-size: 6rem;
  padding-bottom: 6rem;
}

.card__cta--price sup {
  font-size: 3rem;
}

.testimonial {
  width: 70%;
  margin: 0 auto 6rem;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(237, 242, 239, 0.85)), to(rgba(227, 227, 227, 0.85)));
  background-image: linear-gradient(to right top, rgba(237, 242, 239, 0.85), rgba(227, 227, 227, 0.85));
  -webkit-box-shadow: 0 3rem 6rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 3rem 6rem rgba(29, 30, 24, 0.4);
  padding: 6rem;
  min-height: 28rem;
  border-radius: 3px;
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
}

.testimonial > * {
  -webkit-transform: skew(12deg);
          transform: skew(12deg);
}

.testimonial__shape {
  width: 16rem;
  height: 16rem;
  float: left;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-transform: translateX(-2rem) skew(12deg);
          transform: translateX(-2rem) skew(12deg);
}

.testimonial__image {
  height: 100%;
  -webkit-transform: translateX(-4rem);
          transform: translateX(-4rem);
}

.testimonial__caption {
  text-align: center;
}

.testimonial__text {
  padding-top: 1rem;
  line-height: 1.7;
}

.section-about {
  background-color: #EDF2EF;
}

.section-features {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(92, 128, 188, 0.6)), to(rgba(8, 65, 92, 0.6))), url(/img/features.jpg);
  background-image: linear-gradient(to right top, rgba(92, 128, 188, 0.6), rgba(8, 65, 92, 0.6)), url(/img/features.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-cards {
  min-height: 100vh;
}

.section-testimonials {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(237, 242, 239, 0.6)), to(rgba(227, 227, 227, 0.6)));
  background-image: linear-gradient(to right top, rgba(237, 242, 239, 0.6), rgba(227, 227, 227, 0.6));
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.row {
  max-width: 90vw;
  width: 90vw;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 4rem;
}

.row .col-1-of-1 {
  width: 100%;
}

.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 4rem*2) / 3);
}

.row .col-1-of-4 {
  width: calc((100% - 4rem*3) / 4);
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(92, 128, 188, 0.6)), to(rgba(8, 65, 92, 0.6))), url(/img/home.jpg);
  background-image: linear-gradient(to right top, rgba(92, 128, 188, 0.6), rgba(8, 65, 92, 0.6)), url(/img/home.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.header__logo-box--img {
  height: 10rem;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.about-text {
  padding: 2rem 2rem 16rem;
}
/*# sourceMappingURL=style.css.map */