/*

1800px - 1628px : Desktop




------------------------------------

BREAKPOINT ARGUMENT CHOICES : 

- desktop  < 1800px
- laptop-lg  < 1628px
- laptop-sm  < 1460px
- tab-land  < 1280px


ORDER = Base + Typography   >  General Layout + Grid   >  Page Layout   >  Components

*/
@-webkit-keyframes moveInBottomMain {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-8rem) scale(0);
            transform: translateY(-8rem) scale(0);
  }
  80% {
    opacity: .6;
    -webkit-transform: translateY(0.5rem) scale(1.1);
            transform: translateY(0.5rem) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem) scale(1);
            transform: translateY(0rem) scale(1);
  }
}
@keyframes moveInBottomMain {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-8rem) scale(0);
            transform: translateY(-8rem) scale(0);
  }
  80% {
    opacity: .6;
    -webkit-transform: translateY(0.5rem) scale(1.1);
            transform: translateY(0.5rem) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem) scale(1);
            transform: translateY(0rem) scale(1);
  }
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6rem) scale(0);
            transform: translateY(6rem) scale(0);
  }
  80% {
    opacity: .6;
    -webkit-transform: translateY(-0.5rem) scale(1.1);
            transform: translateY(-0.5rem) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem) scale(1);
            transform: translateY(0rem) scale(1);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6rem) scale(0);
            transform: translateY(6rem) scale(0);
  }
  80% {
    opacity: .6;
    -webkit-transform: translateY(-0.5rem) scale(1.1);
            transform: translateY(-0.5rem) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem) scale(1);
            transform: translateY(0rem) scale(1);
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;
}

.u-padding-top-sm {
  padding-top: 2rem !important;
}

.u-padding-top-md {
  padding-top: 5rem !important;
}

.u-padding-top-lg {
  padding-top: 8rem !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1806px */
  /* 1460px */
  /* 1280px */
  /* 900px */
}

@media screen and (max-width: 112.875em) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 91.25em) {
  html {
    font-size: 58.5%;
  }
}

@media screen and (max-width: 80em) {
  html {
    font-size: 56%;
  }
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #1D1E18;
}

.heading-primary {
  font-weight: 400;
  letter-spacing: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.heading-primary__main {
  font-size: 20rem;
  color: #E3E3E3;
  -webkit-animation: moveInBottomMain 1s ease-in-out;
          animation: moveInBottomMain 1s ease-in-out;
  /* 1806px */
  /* 1628px */
  /* 1280px */
  /* 1080px */
  /* 900px */
  /* 700px */
}

@media screen and (max-width: 112.875em) {
  .heading-primary__main {
    font-size: 19rem;
  }
}

@media screen and (max-width: 101.75em) {
  .heading-primary__main {
    font-size: 17.5rem;
  }
}

@media screen and (max-width: 80em) {
  .heading-primary__main {
    font-size: 15rem;
  }
}

@media screen and (max-width: 67.5em) {
  .heading-primary__main {
    font-size: 12.5rem;
  }
}

@media screen and (max-width: 56.25em) {
  .heading-primary__main {
    font-size: 10rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 43.75em) {
  .heading-primary__main {
    font-size: 8rem;
    margin-bottom: 6rem;
  }
}

.heading-primary__sub {
  text-transform: uppercase;
  font-size: 4rem;
  color: #dbd9d9;
  -webkit-animation: moveInBottomMain 1s ease-in-out .2s;
          animation: moveInBottomMain 1s ease-in-out .2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  /* 1806px */
  /* 1280px */
  /* 1080px */
  /* 900px */
}

@media screen and (max-width: 112.875em) {
  .heading-primary__sub {
    font-size: 3rem;
  }
}

@media screen and (max-width: 80em) {
  .heading-primary__sub {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 67.5em) {
  .heading-primary__sub {
    font-size: 2rem;
  }
}

@media screen and (max-width: 56.25em) {
  .heading-primary__sub {
    font-size: 1.6rem;
  }
}

.heading-secondary {
  font-size: 6rem;
  letter-spacing: .5rem;
  font-weight: 400;
  background-image: -webkit-gradient(linear, left top, right top, from(#5c80bc), to(#08415c));
  background-image: linear-gradient(to right, #5c80bc, #08415c);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  /* 1806px */
  /* 1280px */
  /* 1080px */
  /* 900px */
}

@media screen and (max-width: 112.875em) {
  .heading-secondary {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 80em) {
  .heading-secondary {
    font-size: 5rem;
  }
}

@media screen and (max-width: 67.5em) {
  .heading-secondary {
    font-size: 4rem;
    margin: -4rem auto;
  }
}

@media screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3.4rem;
  }
}

.heading-tertiary {
  font-weight: 900;
  font-size: 2rem;
  color: #1D1E18;
  margin-bottom: 1rem;
  text-transform: uppercase;
  /* 1806px */
  /* 1280px */
  /* 1080px */
}

@media screen and (max-width: 112.875em) {
  .heading-tertiary {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 80em) {
  .heading-tertiary {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 67.5em) {
  .heading-tertiary {
    font-size: 1.5rem;
    margin-top: -2rem;
  }
}

.paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  /* 1806px */
  /* 1280px */
}

@media screen and (max-width: 112.875em) {
  .paragraph {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 80em) {
  .paragraph {
    font-size: 1.4rem;
  }
}

.button-main, .button-main:link, .button-main:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 1.5rem 3.5rem;
  border-radius: 1rem;
  letter-spacing: .35rem;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  /* 1280px */
  /* 1080px */
}

@media screen and (max-width: 80em) {
  .button-main, .button-main:link, .button-main:visited {
    font-size: 2rem;
  }
}

@media screen and (max-width: 67.5em) {
  .button-main, .button-main:link, .button-main:visited {
    font-size: 1.8rem;
  }
}

.button-main__home {
  color: #dbd9d9;
  border: solid 2px #08415c;
  background-color: #08415c;
  -webkit-animation: moveInTop 1s ease-in-out .9s;
          animation: moveInTop 1s ease-in-out .9s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.button-main__home:hover {
  background-color: #dbd9d9;
  color: #08415c;
  border: solid 2px #dbd9d9;
  -webkit-transform: translateY(-0.2rem) translateX(-0.4rem);
          transform: translateY(-0.2rem) translateX(-0.4rem);
  -webkit-box-shadow: 0 4px 20px rgba(29, 30, 24, 0.6);
          box-shadow: 0 4px 20px rgba(29, 30, 24, 0.6);
}

.button-main__home:active {
  background-color: #dbd9d9;
  border: solid 2px #dbd9d9;
  -webkit-transform: translateY(-0.1rem) translateX(-0.2rem);
          transform: translateY(-0.1rem) translateX(-0.2rem);
  -webkit-box-shadow: 0 2px 10px rgba(29, 30, 24, 0.4);
          box-shadow: 0 2px 10px rgba(29, 30, 24, 0.4);
}

.button-main__cards {
  color: white;
  background-color: #5c80bc;
  border: solid 2px #5c80bc;
  margin: 8rem 0;
}

.button-main__cards:hover {
  background-color: white;
  color: #5c80bc;
  border: solid 2px white;
  -webkit-transform: translateY(-0.2rem) translateX(-0.4rem);
          transform: translateY(-0.2rem) translateX(-0.4rem);
  -webkit-box-shadow: 0 4px 20px rgba(29, 30, 24, 0.6);
          box-shadow: 0 4px 20px rgba(29, 30, 24, 0.6);
}

.button-main__cards:active {
  background-color: #dbd9d9;
  border: solid 2px #dbd9d9;
  -webkit-transform: translateY(-0.1rem) translateX(-0.2rem);
          transform: translateY(-0.1rem) translateX(-0.2rem);
  -webkit-box-shadow: 0 2px 10px rgba(29, 30, 24, 0.4);
          box-shadow: 0 2px 10px rgba(29, 30, 24, 0.4);
}

.button-main__contact {
  color: white;
  background-color: #5c80bc;
  border: solid 2px #5c80bc;
}

.button-main__contact:hover {
  background-color: white;
  color: #5c80bc;
  border: solid 2px white;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 4px 20px rgba(29, 30, 24, 0.6);
          box-shadow: 0 4px 20px rgba(29, 30, 24, 0.6);
}

.button-main__contact:active {
  background-color: #dbd9d9;
  border: solid 2px #dbd9d9;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 2px 10px rgba(29, 30, 24, 0.4);
          box-shadow: 0 2px 10px rgba(29, 30, 24, 0.4);
}

.button-main__contact:focus {
  outline: none;
}

.button-main::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.button-main:hover .button-main::after {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
}

.button-sub:link, .button-sub:visited {
  cursor: pointer;
  text-decoration: none;
  border-bottom: solid 1px #08415c;
  display: inline-block;
  color: #08415c;
  border-radius: 2px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.button-sub__about {
  margin-top: 3rem;
  font-size: 1.6rem;
  padding: .2rem .4rem .2rem;
}

.button-sub__testimonial {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  padding: .5rem 1.2rem .4rem;
}

.button-sub:hover {
  background-color: #08415c;
  color: #EDF2EF;
  -webkit-transform: translateY(-0.2rem) translateX(-0.2rem);
          transform: translateY(-0.2rem) translateX(-0.2rem);
  -webkit-box-shadow: 0 0.2rem 1rem rgba(29, 30, 24, 0.6);
          box-shadow: 0 0.2rem 1rem rgba(29, 30, 24, 0.6);
}

.button-sub:active {
  background-color: #08415c;
  color: #EDF2EF;
  -webkit-transform: translateY(-0.1rem) translateX(-0.1rem);
          transform: translateY(-0.1rem) translateX(-0.1rem);
  -webkit-box-shadow: 0 0.1rem 0.6rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 0.1rem 0.6rem rgba(29, 30, 24, 0.4);
}

.button-card:link, .button-card:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 1.5rem 3.5rem;
  cursor: pointer;
  border-radius: 1rem;
  border: solid 2px #EDF2EF;
  color: #EDF2EF;
  -webkit-box-shadow: 0 2rem 4rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 2rem 4rem rgba(29, 30, 24, 0.4);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.button-card:hover {
  background-color: #EDF2EF;
  -webkit-box-shadow: 0 4rem 6rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 4rem 6rem rgba(29, 30, 24, 0.4);
}

.button-card__b1:hover {
  color: #08415c;
}

.button-card__b2:hover {
  color: #ff7730;
}

.button-card__b3:hover {
  color: #5643fa;
}

.composition {
  position: relative;
  /* 1280px */
  /* 1080px */
}

@media screen and (max-width: 80em) {
  .composition {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 67.5em) {
  .composition {
    display: none;
    visibility: hidden;
  }
}

.composition__image {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  z-index: 1;
  border-radius: .2rem;
  -webkit-box-shadow: 0 0.5rem 4rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 0.5rem 4rem rgba(29, 30, 24, 0.4);
  position: absolute;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  /* 1280px */
}

@media screen and (max-width: 80em) {
  .composition__image {
    width: 300px;
    height: 200px;
  }
}

.composition__image--p1 {
  top: -2rem;
  left: 6rem;
}

.composition__image--p2 {
  top: 4rem;
  right: 4rem;
  /* 1628px */
}

@media screen and (max-width: 101.75em) {
  .composition__image--p2 {
    right: -2rem;
  }
}

.composition__image--p3 {
  top: 10rem;
  left: 20rem;
}

.composition__image:hover {
  outline-offset: 1.5rem;
  outline: 1rem solid #08415c;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2rem 8rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 2rem 8rem rgba(29, 30, 24, 0.4);
  z-index: 2;
}

.composition:hover .composition__image:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 3px;
  height: 45rem;
  text-align: center;
  padding: 4rem .5rem;
  -webkit-box-shadow: 0 0.2rem 1rem rgba(29, 30, 24, 0.6);
          box-shadow: 0 0.2rem 1rem rgba(29, 30, 24, 0.6);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 80%;
  margin: 25% auto 25%;
  /* 1280px */
  /* 1080px */
  /* 900px */
}

@media screen and (max-width: 80em) {
  .feature-box {
    height: 40rem;
  }
}

@media screen and (max-width: 67.5em) {
  .feature-box {
    margin: 18% auto 0;
    height: 33rem;
    width: 70%;
    padding: 4rem 2rem;
  }
}

@media screen and (max-width: 56.25em) {
  .feature-box {
    width: 70%;
    margin: 18% auto 0;
  }
}

.feature-box__icon {
  font-size: 8rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#5c80bc), to(#08415c));
  background-image: linear-gradient(to right, #5c80bc, #08415c);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box__text {
  margin-top: 2.2rem;
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: .06rem;
  /* 1628px */
  /* 1280px */
  /* 900px */
}

@media screen and (max-width: 101.75em) {
  .feature-box__text {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 80em) {
  .feature-box__text {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 56.25em) {
  .feature-box__text {
    font-size: 1.6rem;
  }
}

.feature-box:hover {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  background-color: #EDF2EF;
  -webkit-box-shadow: 0 1rem 3rem rgba(29, 30, 24, 0.8);
          box-shadow: 0 1rem 3rem rgba(29, 30, 24, 0.8);
}

.card {
  height: 55rem;
  -webkit-perspective: 200rem;
          perspective: 200rem;
  position: relative;
  width: 75%;
  margin: 0 auto;
  /* 1280px */
  /* 1080px */
  /* 700px */
}

@media screen and (max-width: 80em) {
  .card {
    height: 48rem;
  }
}

@media screen and (max-width: 67.5em) {
  .card {
    width: 46%;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 43.75em) {
  .card {
    width: 54%;
  }
}

.card__side {
  height: 55rem;
  -webkit-transition: all .70s ease;
  transition: all .70s ease;
  width: 100%;
  position: absolute;
  border-radius: 4px;
  -webkit-box-shadow: 0 2rem 6rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 2rem 6rem rgba(29, 30, 24, 0.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  /* 1280px */
  /* 1080px */
  /* 700px */
}

@media screen and (max-width: 80em) {
  .card__side {
    height: 48rem;
  }
}

@media screen and (max-width: 67.5em) {
  .card__side {
    height: 42rem;
  }
}

@media screen and (max-width: 43.75em) {
  .card__side {
    height: 48rem;
  }
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#5c80bc), to(#08415c));
  background-image: linear-gradient(to right bottom, #5c80bc, #08415c);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__image {
  height: 45%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__image-p1 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#5c80bc), to(#08415c)), url(../img/card1.jpg);
  background-image: linear-gradient(to right top, #5c80bc, #08415c), url(../img/card1.jpg);
}

.card__image-p2 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ffb900), to(#ff7730)), url(../img/card2.jpg);
  background-image: linear-gradient(to right top, #ffb900, #ff7730), url(../img/card2.jpg);
}

.card__image-p3 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#2998ff), to(#5643fa)), url(../img/card3.jpg);
  background-image: linear-gradient(to right top, #2998ff, #5643fa), url(../img/card3.jpg);
}

.card__list {
  list-style-type: none;
  text-align: center;
  width: 70%;
  margin: 2rem auto;
}

.card__list--item {
  font-size: 1.6rem;
  padding: 1rem;
  color: #3D3B30;
  letter-spacing: .18rem;
  /* 1280px */
}

@media screen and (max-width: 80em) {
  .card__list--item {
    font-size: 1.4rem;
  }
}

.card__list--item:not(:last-child) {
  border-bottom: solid 1px #c2c2c2;
}

.card__header {
  font-size: 2.8rem;
  color: white;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 25%;
  right: 7%;
  width: 75%;
  line-height: 2.1;
  /* 1628px */
  /* 1280px */
  /* 1080px */
  /* 900px */
}

@media screen and (max-width: 101.75em) {
  .card__header {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 80em) {
  .card__header {
    font-size: 2rem;
  }
}

@media screen and (max-width: 67.5em) {
  .card__header {
    font-size: 2.2rem;
    top: 33%;
    right: 2%;
  }
}

@media screen and (max-width: 56.25em) {
  .card__header {
    font-size: 2rem;
    top: 30%;
    right: 3%;
  }
}

.card__header-span {
  padding: 1.2rem 2rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__header-span--1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(92, 128, 188, 0.8)), to(rgba(8, 65, 92, 0.8)));
  background-image: linear-gradient(to right, rgba(92, 128, 188, 0.8), rgba(8, 65, 92, 0.8));
}

.card__header-span--2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 119, 48, 0.8)));
  background-image: linear-gradient(to right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}

.card__header-span--3 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(41, 152, 255, 0.8)), to(rgba(86, 67, 250, 0.8)));
  background-image: linear-gradient(to right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #EDF2EF;
}

.card__cta--only {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.card__cta--price {
  font-size: 6rem;
  padding-bottom: 6rem;
}

.card__cta--price sup {
  font-size: 3rem;
}

.testimonial {
  width: 70%;
  margin: 0 auto 6rem;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(237, 242, 239, 0.85)), to(rgba(227, 227, 227, 0.85)));
  background-image: linear-gradient(to right top, rgba(237, 242, 239, 0.85), rgba(227, 227, 227, 0.85));
  -webkit-box-shadow: 0 3rem 6rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 3rem 6rem rgba(29, 30, 24, 0.4);
  padding: 6rem;
  min-height: 28rem;
  border-radius: 3px;
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
  /* 1280px */
}

@media screen and (max-width: 80em) {
  .testimonial {
    width: 86%;
    margin: 0 auto 5rem;
    padding: 4.8rem;
    min-height: 23rem;
  }
}

.testimonial > * {
  -webkit-transform: skew(12deg);
          transform: skew(12deg);
}

.testimonial__shape {
  width: 16rem;
  height: 16rem;
  float: left;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-transform: translateX(-2rem) skew(12deg);
          transform: translateX(-2rem) skew(12deg);
  /* 1280px */
}

@media screen and (max-width: 80em) {
  .testimonial__shape {
    width: 12rem;
    height: 12rem;
  }
}

.testimonial__image {
  height: 100%;
  -webkit-transform: translateX(-4rem) scale(1.2);
          transform: translateX(-4rem) scale(1.2);
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.testimonial__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 80%);
          transform: translate(-50%, 80%);
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.testimonial__text {
  padding-top: 1rem;
  line-height: 1.7;
}

.testimonial:hover .testimonial__image {
  -webkit-transform: translateX(-4rem) scale(1);
          transform: translateX(-4rem) scale(1);
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
}

.testimonial:hover .testimonial__caption {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.85rem;
  opacity: 1;
}

.form {
  /* 1080px */
}

@media screen and (max-width: 67.5em) {
  .form {
    padding-top: 3rem;
  }
}

.form__box {
  padding: 1rem;
  width: 70%;
  /* 1460px */
}

.form__box:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (max-width: 91.25em) {
  .form__box {
    width: 100%;
    text-align: center;
  }
}

.form__input {
  padding: 1.5rem 1.8rem;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: 1.6rem;
  color: #1D1E18;
  width: 80%;
  display: block;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  border-bottom: solid 3px transparent;
  /* 1460px */
}

@media screen and (max-width: 91.25em) {
  .form__input {
    width: 100%;
  }
}

.form__input::-webkit-input-placeholder {
  color: #1D1E18;
  font-size: 1.6rem;
  font-weight: 100;
}

.form__input:-ms-input-placeholder {
  color: #1D1E18;
  font-size: 1.6rem;
  font-weight: 100;
}

.form__input::-ms-input-placeholder {
  color: #1D1E18;
  font-size: 1.6rem;
  font-weight: 100;
}

.form__input::placeholder {
  color: #1D1E18;
  font-size: 1.6rem;
  font-weight: 100;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 3rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 1rem 3rem rgba(29, 30, 24, 0.4);
  border-bottom: solid 3px #08415c;
}

.form__input:focus:invalid {
  border-bottom: solid 3px #ff7730;
}

.form__label {
  display: block;
  font-size: 1.4rem;
  margin-top: .8rem;
  margin-left: 1.8rem;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.form__input:placeholder-shown + .form__label {
  -webkit-transform: translateY(-4.3rem);
          transform: translateY(-4.3rem);
  opacity: 0;
  visibility: hidden;
}

.form__radio-box {
  display: inline-block;
  width: 40%;
  margin-bottom: 2rem;
  /* 1806px */
}

.form__radio-box:not(:last-child) {
  margin-right: 4rem;
}

@media screen and (max-width: 112.875em) {
  .form__radio-box {
    width: 100%;
  }
  .form__radio-box:first-child {
    padding-bottom: 2rem;
  }
}

.form__radio-box--input {
  display: none;
}

.form__radio-box--label {
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  padding-left: 4rem;
}

.form__radio-box--span {
  width: 2.8rem;
  height: 2.8rem;
  border: 5px solid #5c80bc;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.form__radio-box--span::after {
  content: "";
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  background-color: #5c80bc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.form__radio-box--input:checked + .form__radio-box--label .form__radio-box--span::after {
  opacity: 1;
}

.pop {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(29, 30, 24, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.pop__box {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
  -webkit-box-shadow: 0 2.5rem 3rem rgba(29, 30, 24, 0.5);
          box-shadow: 0 2.5rem 3rem rgba(29, 30, 24, 0.5);
  border-radius: 3px;
  display: table;
  width: 80%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.pop__column-left {
  display: table-cell;
  width: 33.333333%;
}

.pop__image {
  display: block;
  width: 100%;
}

.pop__column-right {
  display: table-cell;
  width: 66.666667%;
  vertical-align: middle;
  padding: 2rem 4rem;
}

.pop__text {
  font-size: 1.6rem;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 3.5rem;
          column-gap: 3.5rem;
  -webkit-column-rule: 1px solid #b8b7b7;
          column-rule: 1px solid #b8b7b7;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.pop__close {
  text-decoration: none;
  font-size: 3rem;
  color: #1D1E18;
  position: absolute;
  top: 2.5rem;
  right: 4rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.pop__close:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: #5c80bc;
}

.pop:target {
  opacity: 1;
  visibility: visible;
}

.pop:target .pop__box {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.section-about {
  background-color: #EDF2EF;
  /* 1280px */
  /* 1080px */
}

@media screen and (max-width: 80em) {
  .section-about {
    height: 98rem;
  }
}

@media screen and (max-width: 67.5em) {
  .section-about {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.section-features {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(92, 128, 188, 0.6)), to(rgba(8, 65, 92, 0.6))), url(../img/features.jpg);
  background-image: linear-gradient(to right top, rgba(92, 128, 188, 0.6), rgba(8, 65, 92, 0.6)), url(../img/features.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-cards {
  min-height: 100vh;
}

.section-testimonials {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(237, 242, 239, 0.6)), to(rgba(227, 227, 227, 0.6)));
  background-image: linear-gradient(to right top, rgba(237, 242, 239, 0.6), rgba(227, 227, 227, 0.6));
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-contact {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#5c80bc), to(#08415c));
  background-image: linear-gradient(to right bottom, #5c80bc, #08415c);
}

.section-contact .contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.65) 30%, rgba(255, 255, 255, 0.5) 45%, transparent 65%), url(../img/contact.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 1rem 4rem rgba(29, 30, 24, 0.6);
          box-shadow: 0 1rem 4rem rgba(29, 30, 24, 0.6);
  border-radius: 3px;
  width: 80%;
  margin: 0 auto;
  /* 1460px */
  /* 1280px */
  /* 700px */
}

@media screen and (max-width: 91.25em) {
  .section-contact .contact {
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.4)), color-stop(25%, rgba(255, 255, 255, 0.6)), color-stop(45%, rgba(255, 255, 255, 0.78)), color-stop(65%, rgba(255, 255, 255, 0.9))), url(../img/contact.jpg);
    background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.78) 45%, rgba(255, 255, 255, 0.9) 65%), url(../img/contact.jpg);
    width: 65%;
  }
}

@media screen and (max-width: 80em) {
  .section-contact .contact {
    width: 70%;
  }
}

@media screen and (max-width: 43.75em) {
  .section-contact .contact {
    width: 80%;
  }
}

.section-contact .contact__form {
  width: 60%;
  padding: 4rem;
  /* 1460px */
  /* 1280px */
  /* 700px */
}

@media screen and (max-width: 91.25em) {
  .section-contact .contact__form {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 80em) {
  .section-contact .contact__form {
    width: 75%;
  }
}

@media screen and (max-width: 43.75em) {
  .section-contact .contact__form {
    width: 90%;
    padding: 2rem;
  }
}

.row {
  max-width: 90vw;
  width: 90vw;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 4rem;
  /* 1460px */
  /* 1080px */
}

@media screen and (max-width: 91.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 67.5em) {
  .row [class^=col-]:not(:last-child) {
    margin: 0 auto;
  }
}

.row .col-1-of-1 {
  width: 100%;
}

.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
  /* 1460px */
  /* 1280px */
}

@media screen and (max-width: 91.25em) {
  .row .col-1-of-2 {
    width: calc((100% - 0.5rem) / 2);
  }
}

@media screen and (max-width: 80em) {
  .row .col-1-of-2 {
    width: 100%;
  }
}

.row .col-1-of-3 {
  width: calc((100% - 4rem*2) / 3);
  /* 1460px */
  /* 1080px */
}

@media screen and (max-width: 91.25em) {
  .row .col-1-of-3 {
    width: calc((100% - 0.5rem*2) / 3);
  }
}

@media screen and (max-width: 67.5em) {
  .row .col-1-of-3 {
    width: 100%;
  }
}

.row .col-1-of-4 {
  width: calc((100% - 4rem*3) / 4);
  /* 1460px */
  /* 1080px */
  /* 900px */
}

@media screen and (max-width: 91.25em) {
  .row .col-1-of-4 {
    width: calc((100% - 0.5rem*3) / 4);
  }
}

@media screen and (max-width: 67.5em) {
  .row .col-1-of-4 {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 56.25em) {
  .row .col-1-of-4 {
    width: 100%;
  }
}

.row .col-1-of-4:last-child {
  /* 1080px */
}

@media screen and (max-width: 67.5em) {
  .row .col-1-of-4:last-child {
    margin-bottom: 10%;
  }
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(92, 128, 188, 0.6)), to(rgba(8, 65, 92, 0.6))), url(../img/home.jpg);
  background-image: linear-gradient(to right top, rgba(92, 128, 188, 0.6), rgba(8, 65, 92, 0.6)), url(../img/home.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.header__logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.header__logo-box--img {
  height: 10rem;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.about-text {
  padding: 2rem 2rem 16rem;
  /* 1280px */
}

@media screen and (max-width: 80em) {
  .about-text {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 2rem 2rem;
    margin-bottom: 2rem;
  }
}

.footer {
  background-color: #333;
}

.footer__logo-box {
  text-align: center;
}

.footer__logo {
  margin: 8rem auto;
  /* 1460px */
  /* 1280px */
  /* 900px */
  /* 700px */
}

@media screen and (max-width: 91.25em) {
  .footer__logo {
    width: 12rem;
    height: 24rem;
    margin: 4rem auto;
  }
}

@media screen and (max-width: 80em) {
  .footer__logo {
    width: 10rem;
    height: 20rem;
  }
}

@media screen and (max-width: 56.25em) {
  .footer__logo {
    width: 8rem;
    height: 16rem;
  }
}

@media screen and (max-width: 43.75em) {
  .footer__logo {
    width: 7rem;
    height: 14rem;
  }
}

.footer__box {
  padding-bottom: 8rem;
  border-top: solid 1px #EDF2EF;
  padding-top: 2rem;
  width: 80%;
  /* 1280px */
  /* 700px */
}

@media screen and (max-width: 80em) {
  .footer__box {
    padding-bottom: 5rem;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 43.75em) {
  .footer__box {
    width: 90%;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  list-style-type: none;
}

.footer__link {
  color: #EDF2EF;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15rem;
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  /* 1460px */
}

@media screen and (max-width: 91.25em) {
  .footer__link {
    letter-spacing: .05rem;
    font-weight: 300;
  }
}

.footer__link:hover {
  -webkit-transform: rotate(3deg) scale(1.35);
          transform: rotate(3deg) scale(1.35);
  color: #5c80bc;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: #333;
}

.footer__text-box {
  width: 67%;
  margin: 0 auto;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* 1280px */
  /* 700px */
}

@media screen and (max-width: 80em) {
  .footer__text-box {
    width: 45%;
  }
}

@media screen and (max-width: 43.75em) {
  .footer__text-box {
    width: 55%;
  }
}

.footer__text {
  color: #EDF2EF;
  font-size: 1.6rem;
  /* 1460px */
}

@media screen and (max-width: 91.25em) {
  .footer__text {
    font-weight: 300;
  }
}

.nav__checkbox {
  display: none;
}

.nav__button {
  background-color: #EDF2EF;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 2rem 4rem rgba(29, 30, 24, 0.4);
          box-shadow: 0 2rem 4rem rgba(29, 30, 24, 0.4);
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 25;
  cursor: pointer;
}

.nav__background {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#5c80bc), to(#08415c));
  background-image: linear-gradient(to right bottom, #5c80bc, #08415c);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 15;
  -webkit-transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1);
}

.nav__list-box {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1);
}

.nav__list {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center;
}

.nav__item:not(:last-child) {
  margin-bottom: 2rem;
}

.nav__link:link, .nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #EDF2EF;
  font-size: 3.5rem;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(115deg, transparent 0%, transparent 50%, #EDF2EF 50%);
  background-size: 220%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav__link:link span, .nav__link:visited span {
  display: inline-block;
  padding-right: 2rem;
}

.nav__link:hover, .nav__link:active {
  background-position: 100%;
  color: #08415c;
  -webkit-transform: translateX(1.5rem);
          transform: translateX(1.5rem);
}

.nav__checkbox:checked ~ .nav__background {
  -webkit-transform: scale(125);
          transform: scale(125);
}

.nav__checkbox:checked ~ .nav__list-box {
  opacity: 1;
  visibility: visible;
}

.nav__icon {
  position: relative;
  top: 3rem;
  left: 1.5rem;
}

.nav__icon, .nav__icon::before, .nav__icon::after {
  display: inline-block;
  background-color: black;
  width: 3rem;
  height: 2px;
}

.nav__icon::before, .nav__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.nav__icon::before {
  top: -.8rem;
}

.nav__icon::after {
  top: .8rem;
}

.nav__button:hover .nav__icon::before {
  top: -1rem;
}

.nav__button:hover .nav__icon::after {
  top: 1rem;
}

.nav__checkbox:checked + .nav__button .nav__icon {
  background-color: transparent;
}

.nav__checkbox:checked + .nav__button .nav__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav__checkbox:checked + .nav__button .nav__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
/*# sourceMappingURL=style.css.map */