.footer {
    background-color: #333;

    &__logo-box {
        text-align: center;
    }
    &__logo {
        margin: 8rem auto;

        @include respond (laptop-sm) {
            width: 12rem;
            height: 24rem;
            margin: 4rem auto; 
        }
        @include respond (tab-land) {
            width: 10rem;
            height: 20rem;
        }
        @include respond (mobile-lg) {
            width: 8rem;
            height: 16rem;
        }
        @include respond (mobile-md) {
            width: 7rem;
            height: 14rem;
        }
    }


    &__box {
        padding-bottom: 8rem;
        border-top: solid 1px $color-whiteCultured;
        padding-top: 2rem;
        width: 80%;

        @include respond (tab-land) {
            padding-bottom: 5rem;
            width: 70%;
            margin: 0 auto;
        }
        @include respond (mobile-md) {
            width: 90%;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        list-style-type: none;
    }
    &__link {
        color: $color-whiteCultured;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .15rem;

        display: inline-block;

        transition: all .2s ease;

        @include respond (laptop-sm) {
            letter-spacing: .05rem;
            font-weight: 300;
        }

        &:hover {
            transform: rotate(3deg) scale(1.35);
            color: $color-blueGlaucous;
            box-shadow: 0 1rem 2rem rgba(black, .5);
            background-color: #333;
        }
    }

    &__text-box {
        width: 67%;
        margin: 0 auto;

        hyphens: auto;

        @include respond (tab-land) {
            width: 45%;
        }
        @include respond (mobile-md) {
            width: 55%;
        }
    }
    &__text {
        color: $color-whiteCultured;
        font-size: 1.6rem;

        @include respond (laptop-sm) {
            font-weight: 300;
        }
    }
}