*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include respond(desktop) {
        font-size: 60%;
    }

    @include respond(laptop-sm) {
        font-size: 58.5%;
    }

    @include respond (tab-land) {
        font-size: 56%;
    }

    @include respond (mobile-lg) {
        font-size: 54%;
    }
    
}

body {
    box-sizing: border-box;
}