body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $color-blackChocolate;
}

.heading-primary {
    font-weight: 400;
    letter-spacing: .5rem;
    display: flex;
    flex-direction: column;

    margin-bottom: 4rem;

    &__main {
        font-size: 20rem;
        color: $color-whitePlatinum;

        animation: moveInBottomMain 1s ease-in-out;
    }

    &__sub {
        text-transform: uppercase;
        font-size: 4rem;
        color: $color-greyLight;

        animation: moveInBottomMain 1s ease-in-out .2s;
        animation-fill-mode: backwards;
    }
}

.heading-secondary {
    font-size: 6rem;
    letter-spacing: .5rem;
    font-weight: 400;

    margin-top: 8rem;

    @include text-color-clip;

    text-align: center;
}

.heading-tertiary {
    font-weight: 700;
    font-size: 2.8rem;
    color: $color-blackChocolate;
    margin-bottom: 1rem;
}

.paragraph {
    font-weight: 400;
    font-size: 1.6rem;
}