.button-main {

    &:link,
    &:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 1.5rem 3.5rem;
    border-radius: 1rem;
    letter-spacing: .35rem;
    cursor: pointer;
    display: inline-block;

    transition: all .35s ease;
    }

    &__home {
        color: $color-greyLight;
        border: solid 2px $color-blueIndigo;
        background-color: $color-blueIndigo;

        animation: moveInTop 1s ease-in-out .9s;
        animation-fill-mode: backwards;

        &:hover {
            background-color: $color-greyLight;
            color: $color-blueIndigo;
            border: solid 2px $color-greyLight;
            transform: translateY(-.2rem) translateX(-.4rem);
            box-shadow: 0 4px 20px rgba($color-blackChocolate, .6);
        }
    
        &:active {
            background-color: $color-greyLight;
            border: solid 2px $color-greyLight;
            transform: translateY(-.1rem) translateX(-.2rem);
            box-shadow: 0 2px 10px rgba($color-blackChocolate, .4);
        }
    }

    &__cards {
        color: white;
        background-color: $color-blueGlaucous;
        border: solid 2px $color-blueGlaucous;

        margin: 8rem 0;

        &:hover {
            background-color: white;
            color: $color-blueGlaucous;
            border: solid 2px white;
            transform: translateY(-.2rem) translateX(-.4rem);
            box-shadow: 0 4px 20px rgba($color-blackChocolate, .6);
        }
    
        &:active {
            background-color: $color-greyLight;
            border: solid 2px $color-greyLight;
            transform: translateY(-.1rem) translateX(-.2rem);
            box-shadow: 0 2px 10px rgba($color-blackChocolate, .4);
        }
    }
}

.button-main::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.button-main:hover .button-main::after {
    transform: scale(2);
    opacity: 0;
}

.button-sub {

    &:link,
    &:visited{
    cursor: pointer;
    text-decoration: none;
    border-bottom: solid 1px $color-blueIndigo;
    display: inline-block;
    color: $color-blueIndigo;
    border-radius: 2px;

    transition: all .25s ease-in-out;
    }

    &__about {
        margin-top: 3rem;
        font-size: 1.6rem;
        padding: .2rem .4rem .2rem;
    }

    &__testimonial {
        margin-bottom: 5rem;
        font-size: 2.5rem;
        padding: .5rem 1.2rem .4rem;
    }

    &:hover {
        background-color: $color-blueIndigo;
        color: $color-whiteCultured;
        transform: translateY(-.2rem) translateX(-.2rem);
        box-shadow: 0 .2rem 1rem rgba($color-blackChocolate, .6);
    }
    &:active {
        background-color: $color-blueIndigo;
        color: $color-whiteCultured;
        transform: translateY(-.1rem) translateX(-.1rem);
        box-shadow: 0 .1rem .6rem rgba($color-blackChocolate, .4);
    }
}

.button-card {

    &:link,
    &:visited{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 1.5rem 3.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: solid 2px $color-whiteCultured;
    color: $color-whiteCultured;
    box-shadow: 0 2rem 4rem rgba($color-blackChocolate, .4);

    transition: all .25s ease;
    }

    &:hover {
        background-color: $color-whiteCultured;
        box-shadow: 0 4rem 6rem rgba($color-blackChocolate, .4);
    }

    &__b1{
        &:hover {
            color: $color-blueIndigo;
        }
    }
    &__b2{
        &:hover {
            color: $color-secondary-dark;
        }
    }
    &__b3{
        &:hover {
            color: $color-tertiary-dark;
        }
    }
}