.feature-box {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(3px);
    border-radius: 3px;
    height: 45rem;
    text-align: center;
    padding: 4rem .5rem;
    box-shadow: 0 .2rem 1rem rgba($color-blackChocolate, .6);
    transition: all .2s ease;
    width: 80%;
    margin: 25% auto 25%;

    @include respond (tab-land) {
        height: 40rem;
    }

    @include respond (tab-port) {
        margin: 18% auto 0;
        height: 33rem;
        width: 70%;
        padding: 4rem 2rem;
    }

    @include respond (mobile-lg) {
        width: 70%;
        margin: 18% auto 0;
    }

    &__icon {
        font-size: 8rem;
        @include text-color-clip;
    }

    &__text {
        margin-top: 2.2rem;
        font-size: 1.8rem;
        line-height: 1.6;
        letter-spacing: .06rem;

        @include respond (laptop-lg) {
            font-size: 1.6rem;
        }
        @include respond (tab-land) {
            font-size: 1.4rem;
        }
        @include respond (mobile-lg) {
            font-size: 1.6rem;
        }
    }

    &:hover {
        transform: translateY(-2rem);
        background-color: $color-whiteCultured;
        box-shadow: 0 1rem 3rem rgba($color-blackChocolate, .8);
    }
}