.testimonial {
    width: 70%;
    margin: 0 auto 6rem;

    background-image: linear-gradient(to right top, rgba($color-whiteCultured, .85), rgba($color-whitePlatinum, .85));
    box-shadow: 0 3rem 6rem rgba($color-blackChocolate, .4);

    padding: 6rem;

    min-height: 28rem;
    border-radius: 3px;

    transform: skew(-12deg);

    @include respond (tab-land) {
        width: 86%;
        margin: 0 auto 5rem;

        padding: 4.8rem;

        min-height: 23rem;
    }

    &>* {
        transform: skew(12deg);
    }

    &__shape {
        width: 16rem;
        height: 16rem;
        float: left;

        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);

        transform: translateX(-2rem) skew(12deg);

        @include respond (tab-land) {
            width: 12rem;
            height: 12rem;
        }
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.2);
        transition: all .35s ease;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 80%);
        color: white;
        
        width: fit-content;

        opacity: 0;
        transition: all .35s ease;
    }

    &__text {
        padding-top: 1rem;
        line-height: 1.7;
    }

    &:hover &__image {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
    &:hover &__caption {
        transform: translate(-50%, -50%);
        font-size: 1.85rem;
        opacity: 1;
    }
}