@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin text-color-clip {
    background-image: linear-gradient(to right, $color-blueGlaucous, $color-blueIndigo);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


//------- MEDIA QUERY MANAGER ---------//

/*

1800px - 1628px : Desktop




------------------------------------

BREAKPOINT ARGUMENT CHOICES : 

- desktop  < 1800px
- laptop-lg  < 1628px
- laptop-sm  < 1460px
- tab-land  < 1280px


ORDER = Base + Typography   >  General Layout + Grid   >  Page Layout   >  Components

*/


@mixin respond ($breakpoint) {

    @if $breakpoint == desktop {
        @media screen and (max-width: 112.875em) { @content };   /* 1806px */
    }

    @if $breakpoint == laptop-lg {
        @media screen and (max-width: 101.75em) { @content };   /* 1628px */
    }

    @if $breakpoint == laptop-sm {
        @media screen and (max-width: 91.25em) { @content };   /* 1460px */
    }

    @if $breakpoint == tab-land {
        @media screen and (max-width: 80em) { @content };   /* 1280px */
    }

    @if $breakpoint == tab-port {
        @media screen and (max-width: 67.5em) { @content };   /* 1080px */
    }

    @if $breakpoint == mobile-lg {
        @media screen and (max-width: 56.25em) { @content };   /* 900px */
    }
    
    @if $breakpoint == mobile-md {
        @media screen and (max-width: 43.75em) { @content };   /* 700px */
    }
}