@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin text-color-clip {
    background-image: linear-gradient(to right, $color-blueGlaucous, $color-blueIndigo);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}