// --- COLORS --- //

$color-blackoOlive: #3D3B30;
$color-blackChocolate: #1D1E18;
$color-blackRaisin: #212738;

$color-whiteAlabaster: #E9EDDE;
$color-whiteCultured: #EDF2EF;
$color-whitePlatinum: #E3E3E3;

$color-blueGlaucous: #5C80BC;
$color-blueIndigo: #08415C;

$color-yellowCorn: #E7E247;
$color-yellowGold: #F3C677;


// --- FONTS --- //


// --- GRID --- //

$row-width: 90vw;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;
