// --- COLORS --- //

$color-blackoOlive: #3D3B30;
$color-blackChocolate: #1D1E18;
$color-blackRaisin: #212738;

$color-whiteAlabaster: #E9EDDE;
$color-whiteCultured: #EDF2EF;
$color-whitePlatinum: #E3E3E3;

$color-greyLight: rgb(219, 217, 217);

$color-blueGlaucous: rgb(92, 128, 188);
$color-blueIndigo: rgb(8, 65, 92);

$color-yellowCorn: #E7E247;
$color-yellowGold: #F3C677;


// --- FONTS --- //


// --- GRID --- //

$row-width: 90vw;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;
