// --- COLORS --- //

$color-blackoOlive: #3D3B30;
$color-blackChocolate: #1D1E18;
$color-blackRaisin: #212738;

$color-whiteAlabaster: #E9EDDE;
$color-whiteCultured: #EDF2EF;
$color-whitePlatinum: #E3E3E3;

$color-greyLight: rgb(219, 217, 217);

$color-blueGlaucous: #5c80bc;
$color-blueIndigo: #08415c;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


// --- FONTS --- //


// --- GRID --- //

$row-width: 90vw;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;
